<h1>Editing Post</h1>

<%= render 'form', post: @post %>
<% if current_user.id == @post.user_id %>
	<%= link_to 'Show', @post %> |
	<%= link_to 'Destroy', post_path, method: :delete, data: { confirm: 'Are you sure?' } %>|
<% end %>
<%= link_to 'Back', posts_path %>

